@import "tailwindcss";


:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #84e6ab;
    --secondary: #b3edca;

}

/*@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}*/

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

body {
    background: var(--background);
    color: var(--foreground);
}

main {
    font-family: "Times New Roman", "ui-serif", serif;
}