@import "tailwindcss";


:root {
    --background: #f6eedd;
    --foreground: #171717;
    --primary: #6cc18e;
    --secondary: #8eba9f;
    --dark: #2b7849;
    --hover: #11111122;
}

/*@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}*/

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

body {
    background: var(--background);
    color: var(--foreground);
}

.loader {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--primary);
    box-shadow: 0 0 0 0 #6cc18e44;
    animation: l1 1s infinite;
}

@keyframes l1 {
    100% {
        box-shadow: 0 0 0 30px #6cc18e00;
    }
}